.movie-card-container:hover {
  /* display: flex; */
  transform: scale(1.08);
  transition: transform 0.3s ease;
}
.movie-card-container {
  /* display: flex; */
  transform: scale(1);
  transition: transform 0.3s ease;
}
.movie-card-container .movie-card-image {
  background-color: brown;
  height: 370px;
  width: 263px;
  border-radius: 7px;
  position: relative;
  display: inline-block;
}
.movie-card-container .movie-card-image img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.movie-card-container .movie-card-heart {
  position: absolute;
  bottom: -5px;
  left: 10px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  fill: white;
  transition: fill 0.3s ease;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.movie-card-container .fav-active {
  fill: red;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  cursor: pointer;
}

.movie-card-container .movie-card-text-holder {
  margin-top: 10px;
}
.movie-card-container .inside-movie-card-text-holder {
  cursor: pointer;
  width: fit-content;
}
.movie-card-container .inside-movie-card-text-holder:hover {
  color: darkorchid;
}

.movie-card-container .movie-card-language-and-like {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.movie-card-container .heart-icon {
  height: 13px;
  width: 13px;
}

.movie-card-container .movie-card-heart:hover {
  transform: scale(1.2); /* Slightly increase the size on hover */
  transition: transform 0.3s ease; /* Smooth transition */
}
